:root {
    --main-bg: #eff4ff;
    --card-bg: #ffffff;
    --btn-bg: #5570f0;
    --btn-hover: #3e58cf;

    --option-bg: #f2f4ff;
    --option-hover: #e3e7ff;

    --correct: #baf7b8;
    --wrong: #ffc4c4;
}
body{
    margin: 0;
    font-family: Arial;
    background: var(--main-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.mainBox{
    width: 90%;
    max-width: 500px;
}
.screen{
    padding: 20px;
    background: var(--card-bg);
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
    text-align: center;
}
.btn{
    padding: 10px 18px;
    background: var(--btn-bg);
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
}
.btn:hover{
    background: var(--btn-hover);
}
#optionsArea .opt{
    background: var(--option-bg);
    padding: 12px;
    margin: 8px 0;
    border-radius: 6px;
    cursor: pointer;
}
#optionsArea .opt:hover{
    background: var(--option-hover);
}
.correct{
    background: var(--correct) !important;
}
.wrong{
    background: var(--wrong) !important;
}
.hidden{
    display: none;
}

@media(max-width: 600px){
    .btn{
        width: 100%;
    }
}