h1, h2 {
    color: navy;
}
p {
    color: darkslategray;
}

#main-title {
    color: navy;
    text-decoration: underline;
    font-size: 28px;
}

div > ul > li {
    color: purple;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    border: 2px solid blue;
    background: lightgreen;
    padding: 6px 12px;
}

a:hover {
    color: red;
    font-weight: bold;
}
